$base-font: 'Roboto', sans-serif;

// base color palette
$black: #080606;
$white: #ffffff;
$midnight-blue: #101022;
$transparent-blue: rgba($midnight-blue, 0.9);
$dark-blue: #21233d;
$greyish-blue: #292a48;
$light-grey-blue: #323358;
$purple: #575999;
$cold-purple: #c5c6de;
$dark-grey: #8a8995;
$pearl: #f6f6f6;
$silver-grey: #e0e0e0;
$green: #00cd46;
$dark-green: #00671a;
$yellow: #ffbc1b;
$brown: #4d0c00;
$red: #ff594f;
$maroon: #550103;
