$base-font: 'Roboto', sans-serif;

// base color palette
$black: #080606;
$white: #ffffff;
$midnight-blue: #101022;
$navy: #21233d;
$pearl: #f6f6f6;
$silver-grey: #e0e0e0;
$dark-grey: #8a8995;
$green: #00cd46;
$yellow: #ffbc1b;
$red: #ff594f;
