@import 'src/style/variables';

$window-border-radius: 7px;
$control-btn-size: 10px;

.sidebar {
  height: 100%;
  width: 150px;
  background: $transparent-blue;
  border: {
    top-left-radius: $window-border-radius;
    bottom-left-radius: $window-border-radius;
  }

  &__navigation {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__controls {
    background: $midnight-blue;
    margin: 0;
    padding: 15px;
    list-style: none;
    height: 40px;
    border-top-left-radius: $window-border-radius;

    display: flex;
    align-items: center;
  }

  &__control {
    height: $control-btn-size;
    width: $control-btn-size;
    border-radius: 50%;
    margin-right: $control-btn-size;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    border: none;
    outline: none;
    position: relative;

    &:hover:before,
    &:hover:after {
      opacity: 1;
    }

    // common styles for all icons on control-buttons
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      border-radius: 1px;
      opacity: 0;
    }

    &--close {
      background: $red;

      // create a pseudo-selector-based ✖ icon for close button
      &:before,
      &:after {
        background: $maroon;
        height: 7px;
        width: 1px;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }

    &--minimize {
      background: $yellow;

      // create a pseudo-selector-based ➖ icon for minimize button
      &:before {
        height: 1px;
        width: 6px;
        background: $brown;
      }
    }

    &--maximize {
      background: $green;

      // create a pseudo-selector-based icon for maximize button
      &:before,
      &:after {
        height: 0;
        width: 0;
        border: {
          radius: 0;
          width: 2px;
          style: solid;
          bottom-color: $dark-green;
          left-color: $dark-green;
          right-color: transparent;
          top-color: transparent;
        }
        transform: translate(-60%, -35%);
      }

      &:after {
        border: {
          top-color: $dark-green;
          right-color: $dark-green;
          bottom-color: transparent;
          left-color: transparent;
        }
        transform: translate(-30%, -60%);
      }
    }
  }
}

.nav-button {
  font-size: 14px;
  color: $white;
  padding: 17px 15px;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background: $greyish-blue;
  }

  &:active {
    background: $light-grey-blue;

    .nav-button__count {
      color: $white;
    }
  }

  &__icon {
    fill: $white;
  }

  &__count {
    margin: 0;
    text-align: center;
    min-width: 13px;
    color: $dark-grey;
  }

  &__label {
    margin: 0;
    flex-grow: 1;
    text-transform: capitalize;
    padding-left: 9px;
  }
}
