@import 'src/style/variables';

$window-border-radius: 7px;
$content-size: 500px;

.window {
  height: $content-size;
  width: 650px;
  display: flex;
  border-radius: $window-border-radius;
}

.content {
  background-color: $pearl;
  width: $content-size;
  height: $content-size;
  border: {
    top-right-radius: $window-border-radius;
    bottom-right-radius: $window-border-radius;
  }
}
