@import 'style/variables';

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background: {
    color: $silver-grey;
    image: url('./assets/background.jpg');
    size: cover;
    position: right center;
    repeat: no-repeat;
  }
}
